<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoiginServlet</servlet-name>
    <servlet-class>com.sevrlet.LoiginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>

    <servlet-name>lyServlet</servlet-name>
    <servlet-class>com.sevrlet.lyServlet</servlet-class>
</servlet>
  <servlet>
    <servlet-name>ShangPinServlet</servlet-name>
    <servlet-class>com.sevrlet.ShangPinServlet</servlet-class>

  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>

    <servlet-name>message</servlet-name>
    <servlet-class>com.sevrlet.message</servlet-class>
</servlet>
  <servlet>
    <servlet-name>ShangPinLeiServlet</servlet-name>
    <servlet-class>com.sevrlet.ShangPinLeiServlet</servlet-class>

  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>

    <servlet-name>login</servlet-name>
    <servlet-class>com.sevrlet.login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>article_listservlet</servlet-name>
    <servlet-class>com.sevrlet.article_listservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>article_list_contentservlet</servlet-name>
    <servlet-class>com.sevrlet.article_list_contentservlet</servlet-class>
 </servlet>
  <servlet>
    <servlet-name>CanShuoServlet</servlet-name>
    <servlet-class>com.sevrlet.CanShuoServlet</servlet-class>
  </servlet>


  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.sevrlet.UserServlet</servlet-class>

  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>

    <servlet-name>article_list_moreservlet</servlet-name>
    <servlet-class>com.sevrlet.article_list_moreservlet</servlet-class>
  </servlet>

 
  <servlet>
    <servlet-name>GongSiServlet</servlet-name>
    <servlet-class>com.sevrlet.GongSiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.sevrlet.ContactServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChaXunServlet</servlet-name>
    <servlet-class>com.sevrlet.ChaXunServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LonginServlet</servlet-name>
    <servlet-class>com.Servlet.Admin.LonginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Servlet.Admin.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ZhuCeServlet</servlet-name>
    <servlet-class>com.Servlet.Admin.ZhuCeServlet</servlet-class>
  </servlet>




  


  
  





  <servlet-mapping>

    <servlet-name>message</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>article_listservlet</servlet-name>
    <url-pattern>/article</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>article_list_contentservlet</servlet-name>
    <url-pattern>/content</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>article_list_moreservlet</servlet-name>
    <url-pattern>/more</url-pattern>
  </servlet-mapping>


<servlet-mapping>
    <servlet-name>LoiginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShangPinServlet</servlet-name>
    <url-pattern>/ShangPin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>

    <servlet-name>ShangPinLeiServlet</servlet-name>
    <url-pattern>/ShangPinLei</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CanShuoServlet</servlet-name>
    <url-pattern>/CanShuo</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GongSiServlet</servlet-name>
    <url-pattern>/GongSi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChaXunServlet</servlet-name>
    <url-pattern>/ChaXun</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LonginServlet</servlet-name>
    <url-pattern>/Longin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZhuCeServlet</servlet-name>
    <url-pattern>/ZhuCe</url-pattern>
  </servlet-mapping>
  

 
  <welcome-file-list>
    <welcome-file>GongSi</welcome-file>
  </welcome-file-list>
</web-app>
